/* example styles for validation form demo */
#register-form {
    background: url("../img/back-section.jpg") ;    
    display: inline-block;
    border-radius: 1rem;
    margin-bottom: 1.3rem;
    margin-left: .3rem;
    margin-top: .7rem;
    margin-right: auto;
    padding: 1.5rem 2.5rem 2.5rem 0.7rem;
    width: 22rem;
}

fieldset {
border: .25rem solid #c2b59b;
border-radius: 1rem;
margin: 0.3rem;
padding: 0.35em 0.625em 0.75em;
}

#register-form h2 {
    text-align: center;
}
 
#register-form .fieldgroup {
  
    display: block;
    padding: 0.3rem;
    width: 21.25rem;
}
 
#register-form .fieldgroup label {
    position: relative;
    margin-left: 4.6rem;
    margin-right: auto;
    padding: 1rem 0 0;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    text-align: right;
    width: 6.875rem;
}


 
#register-form .fieldgroup input{
    position: relative;
    margin-left: 4.5rem;
    margin-right: auto;
    height: 1.7rem;
}
 
 #register-form .submit button{
    text-align: center;
    padding: 3rem;
    height: 2.5rem !important ;
}
 
 #register-form .submit {
    position: relative;
    margin-left: 3.5rem;
    margin-right: auto;
 }

